* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter';
    box-sizing: border-box;
    font-size: 15px;
}

body {
    position: relative;
}

#overlay {
    display: none;
    background-color: black;
    opacity: 50%;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

#container {
    padding: 20px;
}

#nav-bar {
    position: relative;
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

#logo {

}

#icon-menu {
    height: 20px;
}

#empty-div {
    flex-grow: 1;
}

#nav-elements {
    display: none;
    position: absolute;
    background-color: white;
    width: 60%;
    height: 100%;
    padding: 20px;
    top: -20px;
    right: -20px;
    z-index: 2;
    flex-direction: column;
}

#icon-menu-close {
    align-self: flex-end;
    margin-bottom: 100px;
}

.nav-element {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

#main-image {
    margin-bottom: 20px;
}

#main-image-desktop {
    /* display: none; */
}

#main-image-mobile {
    width: 100%;
}

#title {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 20px;
}

#subtitle {
    opacity: 70%;
    line-height: 2rem;
    margin-bottom: 20px;
}

#read-more {
    color: hsl(36, 100%, 99%);
    background-color: hsl(5, 85%, 63%);
    width: 60%;
    height: 4rem;
    font-weight: 700;
    letter-spacing: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

#new-section {
    background-color: hsl(240, 100%, 5%);
    padding: 20px;
    margin-bottom: 60px;
}

#new {
    font-size: 2rem;
    font-weight: 800;
    color: hsl(35, 77%, 62%);
    margin-bottom: 30px;
}

.new-title {
    font-size: 1.2rem;
    color: hsl(36, 100%, 99%);
    margin-bottom: 15px
}

.new-subtitle {
    color: hsl(36, 100%, 99%);
    opacity: 70%;
    margin-bottom: 30px;
}

hr {
    margin-bottom: 30px;
}

.article {
    display: flex;
    margin-bottom: 30px;
}

.article-image {
    /* flex-basis: 1fr; */
    width: 35%;
}

.article-content {
    /* flex-basis: 2fr; */
    width: 65%;
    padding-left: 20px;
}

.article-number {
    font-size: 2rem;
    font-weight: 700;
    color: hsl(236, 13%, 42%);
    opacity: 70%;
    margin-bottom: 10px;
}

.article-title {
    font-weight: 700;
    font-size: 1.2rem;
    color: hsl(240, 100%, 5%);
    margin-bottom: 10px;
}

.article-subtitle {
    opacity: 70%;
}

@media all and (min-width: 565px) {
    * {
        margin: 0px;
        padding: 0px;
    }

    #container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 35% 35% 30%;
        grid-gap: 30px;
        padding: 100px;
    }

    #nav-bar {
        grid-column: 1 / span 3;
        position: static;
    }

    #nav-elements {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 40%;
        justify-content: space-between;
        align-items: center;
        position: static;
    }

    .nav-element {
        margin: 0px;
        opacity: 70%;
    }

    .nav-element:hover {
        color: hsl(5, 85%, 63%);
        cursor: pointer;
    }

    #icon-menu-close {
        display: none;
    }

    #icon-menu {
        display: none;
    }

    #main-image {
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
        margin-bottom: 0px;
    }


    #main-image-mobile {
        display: none;
    }

    #main-image-desktop {
        display: block;
        width: 100%;
    }

    #title {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
        margin-bottom: 0px;
    }

    #subtitle-section {
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
    }

    #read-more {
        margin-bottom: 0px;
    }

    #read-more:hover {
        background-color: hsl(240, 100%, 5%);
        cursor: pointer;
    }

    #new-section {
        grid-column: 3 / span 1;
        grid-row: 2 / span 2;
        margin-bottom: 0px;
    }

    .new-title:hover {
        color: hsl(35, 77%, 62%);
        cursor: pointer;
    }

    .article {
        margin-top: 30px;
    }

    /* .article-number {
        display: none;
    } */

    .article-title:hover {
        color: hsl(5, 85%, 63%);
        cursor: pointer;
    }

    #article-1 {
        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
    }

    #article-2 {
        grid-column: 2 / span 1;
        grid-row: 4 / span 1;
    }

    #article-3 {
        grid-column: 3 / span 1;
        grid-row: 4 / span 1;
    }
}